@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    color: #FF6B00;
}
/* Ховер эффекты для ссылок */
a:hover {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: black;
}
span {
    font-family: "Roboto";
}
/* Сделали фон на всю ширину экрана в футере */
.header_top, .header_nav, .main {
    width: 90%;
    margin: 0 auto;
}

.header {
    margin-bottom: 100px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    margin-bottom: 10px;
}

.header_top_nav {
    display: flex;
    padding-top: 10px;
}

.header_top_btn {
    padding: 15px 40px;
    outline: 1px solid #FF6B00;
    border-radius: 30px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-right: 70px;
}

.header_top_link {
    display: block;
    padding-top: 15px;
    text-decoration: underline;
    color: #FF6B00;
    font-size: 16px;
}

.header_title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    background-image: url(../img/fp_header_logo.jpg);
    background-size: cover;
    color: white;
}

.header_title_text {
    font-family: "Roboto";
    font-size: 46px;
}

.header_flex {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    flex-grow: 2;
    margin-top: 50px;
    text-align: center;
}

.header_part {
    width: 10%;
    padding: 40px 17px 20px 17px;
    background-color: #FF6B00; 
    text-align: center;
    color: white;
    overflow: visible;
}

.header_part_grow {
    flex-grow: 2;
    width: 40%;
}

.indent {
    margin-right: 80px;
}

.header_text_link {
    color: white;
}

/* main */

.main_first_part, .main_second_part, .main_third_part, .main_fouth_part, .main_fifth_part {
    display: flex;
    justify-content: space-between;
}

.content_btn {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    outline: 1px solid #FF6B00;
    border-radius: 30px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}

.main_first_part_photo {
    margin-right: 70px;
}

.first_part_text {
    font-size: 20px;
    display: block;
    margin-bottom: 70px;
    text-align: justify;
}
.first_part_text:last-child {
    margin-bottom: 0px;
}


.first_part_text_caps {
    text-transform: uppercase;
}

.first_part_text_bold {
    font-weight: bold;
}
/* поправить костыль с кнопкной, добавить кнопку в first_part */
.main_content_btn {
    margin-bottom: 80px;
    margin-left: 500px;
}

.main_second_part {
    margin-bottom: 80px;
}

.second_part_text {
    display: block;
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.7;
}

.main_third_part {
    margin-bottom: 100px;
}

.main_third_part_text {
    width: 30%;
    
}

.third_part_text {
    font-size: 20px;
}

.main_content_btn_third {
    padding-top: 100px;
}

.main_fouth_part {
    margin-bottom: 70px;
}

.main_fouth_part_photo, .main_fouth_part_text {
    width: 48%;
}

.main_fouth_part_photo {
    background-image: url(../img/fp_1_1_fifth.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fouth_part_text {
    background-color: #FF6B00;
    padding: 20px 50px;
    font-size: 20px;
    line-height: 1.5;
}


.main_fifth_part_text {
    font-size: 20px;
    text-align: justify;
}

/* footer */

.footer {
    margin-top: 50px;
    background-image: url(../img/fp_footer_logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 50px;

}

.footer_content {
    display: flex;
    justify-content: space-evenly;

}

.footer_phone {
    display: flex;
    justify-content: center;
}

.footer_phone_logo {
    width: 30px;
    height: 30px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_phone_text {
    color: black;
    padding-top: 3px;
    margin-left: 10px;
}

.footer_phone_text_link {
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.footer_email {
    display: flex;
    justify-content: center;
}

.footer_email_logo {
    width: 30px;
    height: 30px;
    background-image: url(../img/mail.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_email_text_link {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}