@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    color: #FF6B00;
    
}
span {
    font-family: "Roboto";
}
/* Сделали фон на всю ширину экрана в футере */
.header_top, .header_nav {
    width: 90%;
    margin: 0 auto;
}

.header {
    margin-bottom: 50px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    margin-bottom: 10px;
}

.header_top_nav {
    display: flex;
    padding-top: 10px;
}

.header_top_btn {
    padding: 15px 40px;
    outline: 1px solid #FF6B00;
    border-radius: 30px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-right: 70px;
}

.header_top_link {
    display: block;
    padding-top: 15px;
    text-decoration: underline;
    color: #FF6B00;
    font-size: 16px;
}

.header_title {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    text-transform: uppercase;
    background-image: url(../img/fp_header_logo.jpg);
    background-size: cover;
    color: white;
    font-weight: bold;
}

.header_title_text {
    font-family: "Roboto";
    font-size: 46px;
    color: white;
}

.header_flex {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    flex-grow: 2;
    margin-top: 50px;
    text-align: center;
}

.header_part {
    width: 10%;
    padding: 40px 17px 20px 17px;
    background-color: #FF6B00; 
    text-align: center;
    color: white;
    overflow: visible;
}

.header_part_grow {
    flex-grow: 2;
    width: 40%;
}

.indent {
    margin-right: 80px;
}

.header_text_link {
    color: white;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 16px;
}

/* main */

.uk-width-3-4 {
    width: 50%;
}

.uk-position-center {
    padding: 200px;
}

.photo_text {
    text-align: right;
}

.photo_text > h2 {
    color: #FF6B00;
}

.photo_bottom_text {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}



/* footer */

.footer {
    margin-top: 50px;
    background-image: url(../img/fp_footer_logo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 50px;

}

.footer_content {
    display: flex;
    justify-content: space-evenly;

}

.footer_phone {
    display: flex;
    justify-content: center;
}

.footer_phone_logo {
    width: 30px;
    height: 30px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_phone_text {
    color: black;
    padding-top: 3px;
    margin-left: 10px;
}

.footer_phone_text_link {
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.footer_email {
    display: flex;
    justify-content: center;
}

.footer_email_logo {
    width: 30px;
    height: 30px;
    background-image: url(../img/mail.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_email_text_link {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}