@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    margin: 0;
    box-sizing: border-box;
}
/* для презентации ховер-эффекты */
a:hover {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: white;
}


/* Хедер */

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.header_flex {
    display: flex;
    justify-content: center;
}

.header_logo {
    width: 19%;
    margin-top: 60px;
}


.header_part_link {
    width: 25%;
    padding: 40px 17px 20px 17px;

    background-color: #FF6B00;
    
    text-align: center;
    color: white;
    overflow: visible;
}

.header_part_link:nth-child(even) {
    margin-left: 70px;
}

.header_text_link {
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
}


/* Карусель */

.uk-width-3-4 {
    width: 50%;
}

.photo_text {
    text-transform: uppercase;
    text-align: center;
}

.photo_bottom_text {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.photo_button {
    padding: 15px 40px;
    border: 1px solid #FF6B00;
    border-radius: 30px;
    font: inherit;
    color: #FF6B00;
    background-color: transparent;
    cursor: pointer;
    margin-right: 70px;
}

.photo_link {
    color: #FF6B00;
    text-decoration: underline;
    padding-top: 15px;
    
}
.photo_link > a {
    color: #FF6B00;
}


/* Футер */

.footer {
    margin-top: 50px;
    
}

.footer_content {
    display: flex;
    justify-content: space-evenly;

}

.footer_phone {
    display: flex;
    justify-content: center;
}

.footer_phone_logo {
    width: 30px;
    height: 30px;
}

.footer_phone_text {
    color: black;
    padding-top: 3px;
    margin-left: 10px;
}

.footer_phone_text_link {
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}

.footer_email {
    display: flex;
    justify-content: center;
}

.footer_email_logo {
    width: 30px;
    height: 30px;
}


.footer_email_text_link {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}